 
.bodyH {
    color: #333;
    font-family: Arial;
    font-weight: normal;
    margin: 0;
    padding: 0;
    background-color: white;
    border-radius: 20px;
  }
  
  .h4H {
    font-family: monospace;
    font-size: small;
  }
  .h1H {
    background: #5E7F9D;
    color: #fff;
    text-align: center;
    margin: 0 0 5% 0;
    padding: 0.5em;
    margin: 0 0 5% 0;
    text-decoration: none;
  
   }
  
   a{
      text-decoration: none;
  
   }

  .cardBoxH {
    float: left;
    font-size: 1.2em;
    margin: 1% 5% 5% 1%;
    perspective: 1000px;
    transition: all 0.3s ease 0s;
    width: 18.7%;
    
   
  }
  
  .cardBoxH:hover .cardH {
    transform: rotateY(180deg);
  }
  
  .cardH {
    border-radius: 20px;
    background: #222;
    cursor: default;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 110%;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
    margin: 25px;
    
  }
  
  .cardH  p {
    margin-bottom: auto;
  }
  
  .cardH .frontH,
  .cardH .backH {
    backface-visibility: hidden;
    border-radius: 20px;
    box-sizing: border-box;
    color: white;
    display:in;
    font-size: 1.7em;
    height: 100%;
    padding: auto;
    position: absolute;
    text-align: center;
    width: 110%;
    
  }
  
  .cardH .backH {
    transform: rotateY(180deg);
  }
  
  .cardH  .backH a {
    padding: auto;
    background: #333;
    border-radius: 20%;
    color: #fff;
    font-size: 0.7em;
    transition: all 0.2s ease 0s;
    text-decoration: none;
    border: rgb(246, 246, 247) solid 2px; 
        
  }


  .cardH  .backH a:hover {
    background: #fff;
    color: #333;
    border-radius: 30% solid;
    text-shadow: 1 1 2px #333;
    justify-content: space-evenly;
                   
  }
  
  .cardBoxH:nth-child(1) .cardH .backH {
    background: #5E7F9D;
  }
  
  .cardBoxH:nth-child(2) .cardH .backH {
    background: #5E7F9D;
  }
  
  .cardBoxH:nth-child(3) .cardH .backH {
    background: #5E7F9D;
  }
  
  .cardBoxH:nth-child(4) .cardH .backH {
    background: #5E7F9D;
  }

  .cardBoxH:nth-child(5) .cardH .backH {
    background: #5E7F9D;
  }

  
  
  .cardBoxH:nth-child(2) .cardH {
    -webkit-animation: giro 1.5s 1;
    animation: giro 1.5s 1;
  }
  
  .cardBoxH:nth-child(3) .cardH {
    -webkit-animation: giro 2s 1;
    animation: giro 2s 1;
  }
  
  .cardBoxH:nth-child(4) .cardH {
    -webkit-animation: giro 2.5s 1;
    animation: giro 2.5s 1;
  }
  
  @-webkit-keyframes giro {
    from {
      transform: rotateY(180deg);
    }
    to {
      transform: rotateY(0deg);
    }
  }
  
  @keyframes giro {
    from {
      transform: rotateY(180deg);
    }
    to {
      transform: rotateY(0deg);
    }
  }
  
  @media screen and (max-width: 767px) {
    .cardBoxH {
      margin-left: 2.7%;
      margin-top: 1.8%;
      width: 59%;
    }
    .cardH {
      height: 284px;
    }
    .cardBoxH:last-child {
      margin-bottom: 3%;
    }
  }
  
  @media screen and (max-width: 960px) {
    .cardBoxH {
      width: 94.5%;
    }
    .cardH {
      height: 285px;
    }
  }
  

  #footer {
    background: #f7f8f9;
    color: #45505b;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
  }
  
  #footer h3 {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0 0 15px 0;
  }
  
  #footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
  }
  
  #footer .social-links {
    margin: 0 0 40px 0;
  }
  
  #footer .social-links a {
    font-size: 17px;
    display: inline-block;
    background: #0563bb;
    color: #fff;
    line-height: 1;
    padding: 7px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: #0678e3;
    color: #fff;
    text-decoration: none;
  }
  
  #footer .copyright {
    margin: 0 0 5px 0;
  }
  
  #footer .credits {
    font-size: 13px;
  }
  a{
    color: #333;
  }